{% extends "modelo.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
    <h1>Cliente</h1>
    <form action="">
        <div class="row mt-3">
            <div class="col col-6">
                <div class="form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="col col-6">
                <div class="form-group">
                    <label for="nome">Nome do Cliente</label>
                    <input id="nome" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-6">
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input id="endereco" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-6">
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input id="numero" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="form-group">
                    <label for="observacao">Observação</label>
                    <input id="observacao" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-2">
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input id="cep" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-3">
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input id="bairro" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-3">
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input id="cidade" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-4">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado" class="form-control">
                        <option value="SC">Santa Catarina</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input id="telefone" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-6">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="form-group">
                    <button class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}