{% extends "modelo.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
    <div class="container mt-5">
        <a class="btn btn-danger" href="{{ url_for("produto.cadastro_form") }}"><i class="fas fa-plus-circle"></i> Novo produto</a>
        <div class="row mt-3">
            <div class="col col-8">
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Imagem</th>
                        <th></th>
                    </tr>
                    {% for produto in lista %}
                    <tr>
                        <td>{{ produto.id_produto }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.valor }}</td>
                        <td><img height="50" src="{{ produto.imagem.decode("utf-8")  }}" alt="{{ produto.descricao }}"></td>
                        <td><a href="{{ url_for("produto.edicao_form", produtoid=produto.id_produto) }}" class="btn btn-light"><i class="fa fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}