{% extends "modelo.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Produto</h1>
        <form action="{{ url_for('produto.cadastro') if produto.id_produto == 0 else url_for('produto.edicao', produtoid=produto.id_produto) }}" method="post" enctype="multipart/form-data">
            <div class="row mt-3">
                <div class="col col-3">
                    <div class="form-group">
                        <label for="codigo">Código</label>
                        <input required id="codigo" type="text" class="form-control" value="{{ produto.id_produto }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input required id="descricao" name="descricao" type="text" class="form-control" value="{{ produto.descricao }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="valor">Valor</label>
                        <input required id="valor" name="valor" type="text" class="form-control" value="{{ produto.valor }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <div class="form-group">
                        <label for="imagem">Imagem</label>
                        <input {% if produto.id_produto == 0 %}required{% endif %} id="imagem" name="imagem" type="file" class="form-control" accept="image/*">
                        {% if produto.id_produto > 0 %}<small>Selecione uma nova imagem para substituir a imagem atual.</small>{% endif %}
                    </div>
                    {% if produto.id_produto > 0 %}
                    <div class="form-group">
                        <label>Imagem atual:</label><br/>
                        <a href="{{ produto.imagem.decode("utf-8")  }}" target="_blank">
                            <img src="{{ produto.imagem.decode("utf-8")  }}" alt="{{ produto.descricao }}" height="200">
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <div class="form-group">
                        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Salvar</button>
                        {% if produto.id_produto > 0 %}
                        <button data-delete="{{ url_for('produto.remocao', produtoid=produto.id_produto) }}" class="btn btn-danger" type="button"><i class="fa fa-trash"></i> Excluir</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}