<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.10.2/css/all.min.css') }}">
        <title>{% block title %}Home{% endblock %} - Projeto Final</title>
        <style>
        footer {
            border-top: 2px solid black;
        }
        .time {
            color: white;
        }
        </style>
    {% endblock %}
</head>
<body>
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home.home') }}">Projeto final</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home.home') }}"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cliente.lista') }}"><i class="fas fa-users"></i> Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('produto.lista') }}"><i class="fas fa-pizza-slice"></i> Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('pedido.lista') }}"><i class="fas fa-arrow-down"></i> Pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login.sair') }}"><i class="fas fa-sign-out-alt"></i> Sair</a>
        </li>
    </ul>
    <div class="time">Sessão <span id="time-counter"></span></div>
</nav>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    <div class="container-fluid mt-5">
        <footer>
            &copy; Copyright 2019 by <a href="{{ url_for('home.home') }}">Projeto final</a>.
        </footer>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
<script>
    let loggedSince = 0;
    let minutesLimit = {{ session_limit }};
    {% if 'time' in session %}
    loggedSince = {{ session['time'] }};
    {% endif %}
    let counterEl = document.querySelector('#time-counter');
    if (loggedSince > 0 && counterEl != null) {
        setInterval(() => {
            let now = new Date().getTime() / 1000;
            let diffSeconds = Math.floor(now - loggedSince);
            let diffMinutes = Math.floor(diffSeconds / 60);
            diffSeconds = diffSeconds % 60;
            let diffHours = Math.floor(diffMinutes / 60);
            diffMinutes = diffMinutes % 60;
            let diffDays = Math.floor(diffHours / 24);
            diffHours = diffHours % 24;
            let clock = "";
            clock += (diffHours > 9) ? diffHours : "0" + diffHours;
            clock += ":";
            clock += (diffMinutes > 9) ? diffMinutes : "0" + diffMinutes;
            clock += ":";
            clock += (diffSeconds > 9) ? diffSeconds : "0" + diffSeconds;
            counterEl.innerText = clock;
            if (diffMinutes >= minutesLimit) {
                window.location = "{{ url_for('login.entrar', erro=2) }}";
            }
        }, 1000);
    }
</script>
{% endblock %}
</body>
</html>