{% extends "modelo.html" %}

{% block title %}Pedidos{% endblock %}

{% block content %}
    <div class="container mt-5">
        <a class="btn btn-outline-success" href="{{ url_for("pedido.cadastro_form") }}"><i class="fas fa-plus-circle"></i> NOVO PEDIDO</a>
        <div class="row mt-3">
            <div class="col col-12">
                <table class="table table-dark table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Endereço</th>
                            <th>Localidade</th>
                            <th>Obs</th>
                            <th>Data/Hora</th>
                            <th>Produtos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="align-middle">1</td>
                        <td class="align-middle">Fulano <span class="d-block small text-secondary">(49) 99999-9999</span></td>
                        <td class="align-middle">Rua tal, 123 <span class="d-block small text-secondary">88500-000</span></td>
                        <td class="align-middle">Centro <span class="d-block small text-secondary">Lages, SC</span></td>
                        <td class="align-middle"><span class="d-block small">Nenhuma</span></td>
                        <td class="align-middle"><span class="d-block small">08/09/2019 18:05:00</span></td>
                        <td class="align-middle"><span class="d-block small">Nenhuma</span></td>
                        <td class="align-middle text-right"><a href="{{ url_for("pedido.cadastro_form") }}" class="btn btn-outline-warning btn-sm"><i
                                class="fa fa-edit"></i> EDITAR</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}